*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
    margin-top: 0;
    padding: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.title{
    width: 100%;
    font-size: 50px;
    margin: 20px;
}

input{
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
input:focus{
    outline: none;
}
.btn{
    width: 200px;
    padding: 20px;
    background-color: rgb(116, 118, 233);
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}
form{
    width: 100%;
}


.flights{
    margin: 50px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
}
.cards{
    width: 90%;   
}
.card{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 30px;   
}

.card-head{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 25px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.col{
    text-align: start;
    width: 20%;
    margin-right: 10px;
}
.noflight{
    padding: 50px;
    font-size: 20px;
}

@media screen and (max-width:768px) {
   
    .header{
        margin: 0;
        padding: 0px;
        padding-top: 10px;
        width: 100%;
    }
   
    .title{
        font-size: 25px;
        margin: 0px;
        width: 100%;
        border: green solid 1px;
    }
    input{
        width: 50%;
        padding: 10px;
        margin: 10px;
    }
    .flights{
        margin: 0;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .cards{
        width: 100%;   
    }
    .card{
        display: flex;
        align-items: center;
        font-size: 10px;
        padding: 30px;
        border: black solid 1px;   
    }
    .card-head{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        padding: 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }

    .col{
        
    }
    
}
